{{#if hasActionable}}
	<div class="sheet-section attack-config">
		<div class="attack-config__section attack-config__section--row">
			<div class="attack-config__section-title">
				<span class="field__label">Mode</span>
			</div>
			<div class="attack-config__fields attack-config__fields--row attack-config__mode-row">
				<select class="attack-config__mode-select" name="system.{{actionPath}}mode">
					{{selectOptions config.attack_mode selected=actionData.mode}}
				</select>

				<div class="attack-config__inline-row attack-config__toggles">
					<label class="attack-config__toggle">
						<input
							type="checkbox"
							name="system.{{actionPath}}jdt.enabled"
							{{checked actionData.jdt.enabled}}
						/>
						<span>JdT?</span>
					</label>
					<label class="attack-config__toggle">
						<input
							type="checkbox"
							name="system.{{actionPath}}jds.enabled"
							{{checked actionData.jds.enabled}}
						/>
						<span>JdS?</span>
					</label>
					<label class="attack-config__toggle">
						<input
							type="checkbox"
							name="system.{{actionPath}}jdd.enabled"
							{{checked actionData.jdd.enabled}}
						/>
						<span>JdD?</span>
					</label>
					<label class="attack-config__toggle">
						<input
							type="checkbox"
							name="system.{{actionPath}}concentration.enabled"
							{{checked actionData.concentration.enabled}}
						/>
						<span>Concentr?</span>
					</label>
				</div>
			</div>
		</div>

		<div class="attack-config__section attack-config__section--row">
			<div class="attack-config__section-title">
				<span class="field__label">Coût</span>
			</div>
			<div class="attack-config__fields attack-config__fields--row attack-config__cost-row">
				<input
					class="attack-config__cost-value"
					name="system.{{actionPath}}cost.value"
					type="number"
					value="{{actionData.cost.value}}"
					data-dtype="Number"
				/>
				<select class="attack-config__cost-unit" name="system.{{actionPath}}cost.action_unit">
					{{selectOptions config.action_units selected=actionData.cost.action_unit}}
				</select>
				<span class="attack-config__row-sep">+ Charge Sort</span>
				<select class="attack-config__cost-ester" name="system.{{actionPath}}cost.ester_level">
					{{selectOptions config.ester_levels selected=actionData.cost.ester_level}}
				</select>
			</div>
		</div>

		<div class="attack-config__sections">
			{{#if actionData.jdt.enabled}}
				<div class="attack-config__section attack-config__section--row">
					<div class="attack-config__section-title">
						<span class="field__label">JdT</span>
					</div>
					<div class="attack-config__fields attack-config__fields--row">
						<span class="attack-config__row-sep">d20 +</span>
						<select class="stat-arme" name="system.{{actionPath}}jdt.stat">
							{{#if isActionModeIncant}}
								{{selectOptions config.stats_optional_incant selected=actionData.jdt.stat}}
							{{else}}
								{{selectOptions config.stats_optional_arme selected=actionData.jdt.stat}}
							{{/if}}
						</select>
						<span class="attack-config__row-sep">+</span>
						<input
							name="system.{{actionPath}}jdt.bonus"
							type="number"
							value="{{actionData.jdt.bonus}}"
							data-dtype="Number"
						/>
					</div>
				</div>
			{{/if}}

			{{#if actionData.jds.enabled}}
				<div class="attack-config__section attack-config__section--row">
					<div class="attack-config__section-title">
						<span class="field__label">JdS</span>
					</div>
					<div class="attack-config__fields attack-config__fields--row">
						<select class="stat" name="system.{{actionPath}}jds.stat">
							{{selectOptions config.stats_optional selected=actionData.jds.stat}}
						</select>
						<span class="attack-config__row-sep">vs DD</span>
						<input
							name="system.{{actionPath}}jds.dd"
							type="number"
							value="{{actionData.jds.dd}}"
							data-dtype="Number"
						/>
						<span class="attack-config__row-sep">-&gt;</span>
						<input
							class="attack-config__grow-input"
							name="system.{{actionPath}}jds.text"
							type="text"
							value="{{actionData.jds.text}}"
							placeholder="Effet / précision"
						/>
					</div>
				</div>
			{{/if}}

			{{#if actionData.jdd.enabled}}
				<div class="attack-config__section attack-config__section--row">
					<div class="attack-config__section-title">
						<span class="field__label">JdD</span>
					</div>
					<div class="attack-config__fields">
						{{#each actionData.damage_formulas as |damage index|}}
							<div class="attack-config__damage-row">
								<div class="attack-config__damage-main">
									<input
										class="attack-config__damage-formula"
										name="system.{{@root.actionPath}}damage_formulas.{{index}}.formula"
										type="text"
										value="{{damage.formula}}"
										placeholder="2d6+1"
									/>
									<span class="attack-config__row-sep">+</span>
									<select
										class="stat-arme"
										name="system.{{@root.actionPath}}damage_formulas.{{index}}.stat"
									>
										{{#if @root.isActionModeIncant}}
											{{selectOptions @root.config.stats_optional_incant selected=damage.stat}}
										{{else}}
											{{selectOptions @root.config.stats_optional_arme selected=damage.stat}}
										{{/if}}
									</select>
								</div>
								<div class="attack-config__damage-tail">
									<span class="attack-config__row-sep">:</span>
									<select
										class="attack-config__damage-type"
										name="system.{{@root.actionPath}}damage_formulas.{{index}}.type"
									>
										{{selectOptions @root.config.all_damage_types selected=damage.type}}
									</select>
								</div>
								{{#if (eq index 0)}}
									<button
										type="button"
										data-action="add-array-entry"
										data-path="{{@root.actionPath}}damage_formulas"
										data-entry-type="damage-formula"
									>
										<i class="fa-light fa-square-plus"></i>
									</button>
								{{else}}
									<button
										type="button"
										data-action="remove-array-entry"
										data-path="{{@root.actionPath}}damage_formulas"
										data-index="{{index}}"
										data-minimum="1"
									>
										<i class="fa-light fa-square-minus"></i>
									</button>
								{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/if}}

			{{#if actionData.jds.enabled}}
				<div class="attack-config__section attack-config__section--row">
					<div class="attack-config__section-title">
						<span class="field__label">JdD Sauv</span>
					</div>
					<div class="attack-config__fields">
						{{#each actionData.jds.damage_formulas as |damage index|}}
							<div class="attack-config__damage-row">
								<div class="attack-config__damage-main">
									<input
										class="attack-config__damage-formula"
										name="system.{{@root.actionPath}}jds.damage_formulas.{{index}}.formula"
										type="text"
										value="{{damage.formula}}"
										placeholder="2d6"
									/>
									<span class="attack-config__row-sep">+</span>
									<select
										class="stat-arme"
										name="system.{{@root.actionPath}}jds.damage_formulas.{{index}}.stat"
									>
										{{#if @root.isActionModeIncant}}
											{{selectOptions @root.config.stats_optional_incant selected=damage.stat}}
										{{else}}
											{{selectOptions @root.config.stats_optional_arme selected=damage.stat}}
										{{/if}}
									</select>
								</div>
								<div class="attack-config__damage-tail">
									<span class="attack-config__row-sep">:</span>
									<select
										class="attack-config__damage-type"
										name="system.{{@root.actionPath}}jds.damage_formulas.{{index}}.type"
									>
										{{selectOptions @root.config.all_damage_types selected=damage.type}}
									</select>
								</div>
								{{#if (eq index 0)}}
									<button
										type="button"
										data-action="add-array-entry"
										data-path="{{@root.actionPath}}jds.damage_formulas"
										data-entry-type="damage-formula"
									>
										<i class="fa-light fa-square-plus"></i>
									</button>
								{{else}}
									<button
										type="button"
										data-action="remove-array-entry"
										data-path="{{@root.actionPath}}jds.damage_formulas"
										data-index="{{index}}"
										data-minimum="1"
									>
										<i class="fa-light fa-square-minus"></i>
									</button>
								{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/if}}

			{{#if actionData.concentration.enabled}}
				<div class="attack-config__section attack-config__section--row">
					<div class="attack-config__section-title">
						<span class="field__label">Concentr.</span>
					</div>
					<div class="attack-config__fields attack-config__fields--row">
						<select class="stat" name="system.{{actionPath}}concentration.stat">
							{{selectOptions config.stats_optional selected=actionData.concentration.stat}}
						</select>
						<span class="attack-config__row-sep">vs DD</span>
						<input
							name="system.{{actionPath}}concentration.dd"
							type="number"
							value="{{actionData.concentration.dd}}"
							data-dtype="Number"
						/>
						<span class="attack-config__row-sep">+ Stat Arme/Incant</span>
						<input
							name="system.{{actionPath}}concentration.enemy_attack_bonus"
							type="number"
							value="{{actionData.concentration.enemy_attack_bonus}}"
							data-dtype="Number"
						/>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
{{/if}}
