<div>
	<hr/>
	<div class="physical-row">
		<span class="physical-row__label">Equip</span>
		<div class="physical-flags">
			<label class="tiny-check">
				<span class="tiny-check__label">1H</span>
				<input type="checkbox" name="system.equipped.main_hand" {{checked sysData.equipped.main_hand}}/>
			</label>
			<label class="tiny-check">
				<span class="tiny-check__label">1H'</span>
				<input type="checkbox" name="system.equipped.off_hand" {{checked sysData.equipped.off_hand}}/>
			</label>
			<label class="tiny-check">
				<span class="tiny-check__label">2H</span>
				<input
					type="checkbox"
					name="system.equipped.two_handed"
					{{checked sysData.equipped.two_handed}}
				/>
			</label>
			<label class="tiny-check">
				<span class="tiny-check__label">NoH</span>
				<input type="checkbox" name="system.equipped.no_hands" {{checked sysData.equipped.no_hands}}/>
			</label>
		</div>
		<div class="physical-row__meta">
			<label class="field field--inline">
				<span class="field__label">Qté</span>
				<input
					name="system.quantity"
					type="number"
					value="{{sysData.quantity}}"
					data-dtype="Number"
				/>
			</label>
			<span class="field__meta">
				(
				<input
					name="system.weight"
					type="number"
					value="{{sysData.weight}}"
					data-dtype="Number"
				/>
				{{{weightIcon}}})
			</span>
		</div>
	</div>
</div>
