<div class="grid grid--two">
	<label class="field">
		<span class="field__label">Pds</span>
		<input name="system.weight" type="number" value="{{sysData.weight}}" data-dtype="Number"/>
	</label>
	<label class="field">
		<span class="field__label">Qté</span>
		<input
			name="system.quantity"
			type="number"
			value="{{sysData.quantity}}"
			data-dtype="Number"
		/>
	</label>
</div>

<div class="physical-flags">
	<label class="tiny-check">
		<span class="tiny-check__label">Eq MH</span>
		<input type="checkbox" name="system.equippable.main_hand" {{checked sysData.equippable.main_hand}}/>
	</label>
	<label class="tiny-check">
		<span class="tiny-check__label">Eq OH</span>
		<input type="checkbox" name="system.equippable.off_hand" {{checked sysData.equippable.off_hand}}/>
	</label>
	<label class="tiny-check">
		<span class="tiny-check__label">Eq B</span>
		<input type="checkbox" name="system.equippable.body" {{checked sysData.equippable.body}}/>
	</label>
	<label class="tiny-check">
		<span class="tiny-check__label">On MH</span>
		<input type="checkbox" name="system.equipped.main_hand" {{checked sysData.equipped.main_hand}}/>
	</label>
	<label class="tiny-check">
		<span class="tiny-check__label">On OH</span>
		<input type="checkbox" name="system.equipped.off_hand" {{checked sysData.equipped.off_hand}}/>
	</label>
	<label class="tiny-check">
		<span class="tiny-check__label">On B</span>
		<input type="checkbox" name="system.equipped.body" {{checked sysData.equipped.body}}/>
	</label>
</div>
