<div class="attack-config__damage-row">
  <div class="attack-config__damage-tail">
    <select
      class="attack-config__damage-effect"
      name="system.{{actionPath}}{{damagePath}}.{{index}}.effect"
    >
      {{selectOptions config.damage_effect_prefixes selected=damage.effect}}
    </select>
  </div>
  <div class="attack-config__damage-main">
    <input
      class="attack-config__damage-formula"
      name="system.{{actionPath}}{{damagePath}}.{{index}}.formula"
      type="text"
      value="{{damage.formula}}"
      placeholder="{{formulaPlaceholder}}"
    />
    <span class="attack-config__row-sep">+</span>
    <select
      class="stat-physical"
      name="system.{{actionPath}}{{damagePath}}.{{index}}.stat"
    >
      {{#if isActionModeIncant}}
        {{selectOptions config.stats_optional_incant selected=damage.stat}}
      {{else if isActionModePhysical}}
        {{selectOptions config.stats_optional_physical selected=damage.stat}}
      {{else}}
        {{selectOptions config.stats_optional selected=damage.stat}}
      {{/if}}
    </select>
  </div>
  <div class="attack-config__damage-tail">
    <span class="attack-config__row-sep">:</span>
    <select
      class="attack-config__damage-type"
      name="system.{{actionPath}}{{damagePath}}.{{index}}.type"
      data-action="change-damage-type"
    >
      {{#if (lookup config.fusion_damage_types damage.type)}}
        <option value="{{damage.type}}" data-special-damage-type="true" selected>
          {{lookup config.fusion_damage_types damage.type}}
        </option>
      {{/if}}
      {{selectOptions config.base_damage_types selected=damage.type}}
      <option value="__special_damage_type__">Types spéciaux</option>
    </select>
  </div>
  {{#if showAddButton}}
    {{#unless readonly}}
    <button
      type="button"
      data-action="add-array-entry"
      data-path="{{actionPath}}{{damagePath}}"
      data-entry-type="damage-formula"
      data-tooltip="{{addTooltip}}"
    >
      <i class="fa-light fa-square-plus"></i>
    </button>
    {{/unless}}
  {{else}}
    {{#unless readonly}}
    <button
      type="button"
      data-action="remove-array-entry"
      data-path="{{actionPath}}{{damagePath}}"
      data-index="{{index}}"
      data-minimum="1"
      data-tooltip="{{removeTooltip}}"
    >
      <i class="fa-light fa-square-minus"></i>
    </button>
    {{/unless}}
  {{/if}}
</div>
