<div class="attack-config__section attack-config__section--row">
  <div class="attack-config__section-title">
    <span class="field__label">JdS</span>
  </div>
  <div class="attack-config__fields attack-config__fields--row">
    <select class="stat" name="system.{{actionPath}}jds.stat">
      {{selectOptions config.stats_optional selected=actionData.jds.stat}}
    </select>
    <span class="attack-config__row-sep">vs DD</span>
    <input
      name="system.{{actionPath}}jds.dd"
      type="number"
      value="{{actionData.jds.dd}}"
      data-dtype="Number"
    />
    <span class="attack-config__row-sep">-&gt;</span>
    {{#if actionData.jdd.enabled}}
      {{#if (eq actionData.jdd_saved.mode "half")}}
        <span class="attack-config__saved-damage-note">
          <span>JdD</span>
          <span>/2</span>
        </span>
      {{else if (eq actionData.jdd_saved.mode "other")}}
        <span class="attack-config__saved-damage-note">
          <span>JdD</span>
          <span>modifié</span>
        </span>
      {{/if}}
    {{/if}}
    {{#if actionData.jds.fails_on_save}}
      <span class="attack-config__saved-damage-note">Échoue</span>
    {{else}}
      {{>
        "systems/nalfa/templates/partials/shared/richtext-section.hbs"
        title="Effet si réussite"
        namePath=jdsTextNamePath
        editTooltip="Modifier l'effet si réussite"
        content=enrichedHTML.jds.text
        hasContent=jdsTextHasContent
        placeholderHtml="<p>Effet si réussite</p>"
        readonly=readonly
        contentClass="richtext-field richtext-field--overlay-action attack-config__jds-text-field"
      }}
    {{/if}}
    <label class="attack-config__toggle">
      <input
        type="checkbox"
	        name="system.{{actionPath}}jds.fails_on_save"
	        {{checked actionData.jds.fails_on_save}}
      />
      <span>Échec?</span>
    </label>
  </div>
</div>
