<div class="attack-config__section attack-config__section--row">
  <div class="attack-config__section-title">
    <span class="field__label">{{label}}</span>
  </div>
  <div class="attack-config__fields">
    {{#if showSavedDamageModeSelector}}
      <div class="attack-config__fields--row attack-config__toggles">
        <label class="attack-config__toggle">
          <input
            type="radio"
            name="system.{{actionPath}}{{savedDamageModePath}}"
            value="same"
            {{checked (eq savedDamageMode "same")}}
          />
          <span>= JdD</span>
        </label>
        <label class="attack-config__toggle">
          <input
            type="radio"
            name="system.{{actionPath}}{{savedDamageModePath}}"
            {{#if showOverloadDamageModeSelector}}
            value="double"
            {{checked (eq savedDamageMode "double")}}
            {{else}}
            value="half"
            {{checked (eq savedDamageMode "half")}}
            {{/if}}
          />
          <span>= JdD {{#if showOverloadDamageModeSelector}}&times;2{{else}}/2{{/if}}</span>
        </label>
        <label class="attack-config__toggle">
          <input
            type="radio"
            name="system.{{actionPath}}{{savedDamageModePath}}"
            value="other"
            {{checked (eq savedDamageMode "other")}}
          />
          <span>Autre</span>
        </label>
      </div>
    {{/if}}

    {{#unless (eq showDamageFormulas false)}}
      {{#each damageFormulas as |damage index|}}
        {{>
          "systems/nalfa/templates/partials/item/actionable/damage-formula-row.hbs"
          actionPath=../actionPath
          damagePath=../damagePath
          damage=damage
          index=index
          config=../config
          isActionModeIncant=../isActionModeIncant
          isActionModePhysical=../isActionModePhysical
          readonly=../readonly
          showAddButton=(eq index 0)
          addTooltip=../addTooltip
          removeTooltip=../removeTooltip
          formulaPlaceholder=../formulaPlaceholder
        }}
      {{/each}}
    {{/unless}}
  </div>
</div>
