<section class="sheet-body" data-value-mode="{{sysData.ui.valueMode}}">
  <div class="tab {{tabs.actions.cssClass}}" data-group="primary" data-tab="actions">
    {{>
      "systems/nalfa/templates/partials/character/actions-overview.hbs"
      actorActions=actorActions
      rollable=rollable
      isEditable=isEditable
    }}
  </div>

  <div class="tab {{tabs.inventory.cssClass}}" data-group="primary" data-tab="inventory">
    {{>
      "systems/nalfa/templates/partials/character/inventory-overview.hbs"
      inventoryRows=inventoryRows
      inventoryBrowser=inventoryBrowser
      isEditable=isEditable
    }}
  </div>

  <div class="tab {{tabs.bio.cssClass}}" data-group="primary" data-tab="bio">
    {{>
      "systems/nalfa/templates/partials/character/bio-overview.hbs"
      actor=actor
      sysData=sysData
      config=config
      bioResistances=bioResistances
    }}
  </div>

  <div class="tab {{tabs.character.cssClass}}" data-group="primary" data-tab="character">
    <div class="sheet-section">
      {{>
        "systems/nalfa/templates/partials/character/combat-overview.hbs"
        sysData=sysData
        config=config
        isKO=isKO
        deathTick=deathTick
      }}
    </div>

    {{>
      "systems/nalfa/templates/partials/character/stats-skills.hbs"
      sysData=sysData
      config=config
      rollable=rollable
    }}
  </div>

  <div class="tab {{tabs.resources.cssClass}}" data-group="primary" data-tab="resources">
		{{> "systems/nalfa/templates/partials/character/nalfa-resource.hbs" sysData=sysData}}
    {{> "systems/nalfa/templates/partials/character/action-pools.hbs" sysData=sysData}}
  </div>

  <div class="tab {{tabs.combat.cssClass}}" data-group="primary" data-tab="combat">
    {{> "systems/nalfa/templates/partials/character/roll-stats.hbs" sysData=sysData config=config}}
  </div>

  {{#if isEditable}}
    {{> "systems/nalfa/templates/partials/character/value-mode-toggle.hbs" sysData=sysData config=config}}
  {{/if}}
</section>
