<label for="weight">Weight :</label>
<input type="text" id="weight" name="system.weight" value="{{sysData.weight}}"/>
{{!-- quantity --}}
<label for="quantity">Quantity :</label>
<input type="text" id="quantity" name="system.quantity" value="{{sysData.quantity}}"/>

<h3>Equipped :</h3>
<ul>
  <li>
    <label for="equipped-main-hand">In main hand ?</label>
    <input type="checkbox" id="equipped-main-hand" name="system.equipped.main_hand" {{checked sysData.equipped.main_hand}}/>
  </li>
  <li>
    <label for="equipped-off-hand">In off hand ?</label>
    <input type="checkbox" id="equipped-off-hand" name="system.equipped.off_hand" {{checked sysData.equipped.off_hand}}/>
  </li>
  <li>
    <label for="equipped-body">On body ?</label>
    <input type="checkbox" id="equipped-body" name="system.equipped.body" {{checked sysData.equipped.body}}/>
  </li>
</ul>

<h3>
  <label for="identification-mechanic">Identification mechanic ?</label>
  <input type="checkbox" id="identification-mechanic" name="system.identification.mechanic" {{checked sysData.identification.mechanic}}/>
</h3>
<ul>
  <li>
    <label for="identification-identified">Identified ?</label>
    <input type="checkbox" id="identification-identified" name="system.identification.identified" {{checked sysData.identification.identified}}/>
  </li>
  <li>
    <label for="identification-true-name">True name :</label>
    <input type="text" id="identification-true-name" name="system.identification.true_name" value="{{sysData.identification.true_name}}"/>
  </li>
  <li>
    <label for="identification-unidentified-name">Unidentified name :</label>
    <input type="text" id="identification-unidentified-name" name="system.identification.unidentified.name" value="{{sysData.identification.unidentified.name}}"/>
  </li>
  <li>
    <div>Unidentified description :</div>
    <div class="editor-box">
      {{editor enrichedHTML.identification.unidentified.description target="system.identification.unidentified.description" button=true collaborate=false}}
    </div>
  </li>
</ul>