<div class="currency item" data-item-id="{{currency._id}}">
  <img src="{{currency.img}}" title="{{currency.name}}" width="24" height="24"/>
  <div class="currency-text">{{currency.name}} :</div>
  <div class="currency-value">{{currency.system.total_value}}</div>
  <div class="currency-text">{{currency.system.currency_base}}</div>
  <div class="currency-text">
    {{#each currency.system.denominations as |denomination|}}
      {{#if @first}}({{/if}}{{denomination.amount}}{{denomination.short_name}}{{#if @last}}){{else}},{{/if}}
    {{/each}}
  </div>
  <div class="currency-text"> {{currency.system.total_weight}} {{{weightIcon}}}</div>
  <a class="item-edit" data-dtype="currency" title="Set money"><i class="fa-solid fa-edit"></i></a>
  <a class="item-delete" data-dtype="currency" title="Delete currency"><i class="fa-solid fa-trash"></i></a>
</div>