<h2>Activated Effect</h2>
<ul>
  <li>activation :
    <ul>
      <li>.type : <input name="system.activation.type" type="text" value="{{sysData.activation.type}}"/></li>
      <li>.cost : <input name="system.activation.cost" type="text" value="{{sysData.activation.cost}}"/></li>
      <li>.condition : <input name="system.activation.condition" type="text" value="{{sysData.activation.condition}}"/></li>
    </ul>
  </li>
  <li>duration :
    <ul>
      <li>.value : <input name="system.duration.value" type="text" value="{{sysData.duration.value}}" data-type="Number"/></li>
      <li>.units : <input name="system.duration.units" type="text" value="{{sysData.duration.units}}"/></li>
    </ul>
  </li>
  <li>cover : <input name="system.activatedEffect.cover" type="text" value="{{sysData.activatedEffect.cover}}"/></li>
  <li>target :
    <ul>
      <li>.max : <input name="system.activatedEffect.target.max" type="text" value="{{sysData.activatedEffect.target.max}}" data-type="Number"/></li>
      <li>.type : <input name="system.activatedEffect.target.type" type="text" value="{{sysData.activatedEffect.target.type}}"/></li>
      <li>.restrictions : <input name="system.activatedEffect.target.restrictions" type="text" value="{{sysData.activatedEffect.target.restrictions}}"/></li>
    </ul>
  </li>
  <li>range :
    <ul>
      <li>.length : <input name="system.activatedEffect.range.length" type="text" value="{{sysData.activatedEffect.range.length}}" data-type="Number"/></li>
      <li>.width : <input name="system.activatedEffect.range.width" type="text" value="{{sysData.activatedEffect.range.width}}" data-type="Number"/></li>
      <li>.units : <input name="system.activatedEffect.range.units" type="text" value="{{sysData.activatedEffect.range.units}}"/></li>
      <li>.shape : <input name="system.activatedEffect.range.shape" type="text" value="{{sysData.activatedEffect.range.shape}}"/></li>
    </ul>
  </li>
  <li>isAoe : <input name="system.activatedEffect.isAoe" type="checkbox" {{checked sysData.activatedEffect.isAoe}}/></li>
  <li>area :
    <ul>
      <li>.affects : <input name="system.activatedEffect.area.affects" type="text" value="{{sysData.activatedEffect.area.affects}}"/></li>
      <li>.length : <input name="system.activatedEffect.area.length" type="text" value="{{sysData.activatedEffect.area.length}}" data-type="Number"/></li>
      <li>.width : <input name="system.activatedEffect.area.width" type="text" value="{{sysData.activatedEffect.area.width}}" data-type="Number"/></li>
      <li>.units : <input name="system.activatedEffect.area.units" type="text" value="{{sysData.activatedEffect.area.units}}"/></li>
      <li>.shape : <input name="system.activatedEffect.area.shape" type="text" value="{{sysData.activatedEffect.area.shape}}"/></li>
    </ul>
  </li>
  <li>uses :
    <ul>
      <li>.value : <input name="system.activatedEffect.uses.value" type="text" value="{{sysData.activatedEffect.uses.value}}" data-type="Number"/></li>
      <li>.max : <input name="system.activatedEffect.uses.max" type="text" value="{{sysData.activatedEffect.uses.max}}" data-type="Number"/></li>
      <li>.per : <input name="system.activatedEffect.uses.per" type="text" value="{{sysData.activatedEffect.uses.per}}"/></li>
      <li>.recovery : <input name="system.activatedEffect.uses.recovery" type="text" value="{{sysData.activatedEffect.uses.recovery}}"/></li>
    </ul>
  </li>
  <li>consumes :
    <ul>
      <li>.type : <input name="system.activatedEffect.consumes.type" type="text" value="{{sysData.activatedEffect.consumes.type}}"/></li>
      <li>.amount : <input name="system.activatedEffect.consumes.amount" type="text" value="{{sysData.activatedEffect.consumes.amount}}" data-type="Number"/></li>
    </ul>
  </li>
</ul>
