<header
	class="nalfa-sheet-header"
	data-readonly-section="{{#if readonly}}true{{else}}false{{/if}}"
>
	<div class="item-sheet-header__icon embedded-actions__icon">
		<img
			src="{{itemImage}}"
			{{#unless readonly}}data-edit="img"{{/unless}}
			data-tooltip="{{actionDisplayName}}"
			height="64"
			width="64"
		/>
		<span class="embedded-actions__shorthand">{{{actionDisplayShorthandHtml}}}</span>
	</div>

	<div class="item-sheet-header__name">
		<input
			name="system.{{actionPath}}name"
			type="text"
			value="{{actionData.name}}"
			placeholder="{{defaultActionName}}"
			{{#if readonly}}disabled{{/if}}
		/>
	</div>

	<div class="item-sheet-header__shorthand">
		<span class="field__label">Raccourci</span>
		<input
			name="system.{{actionPath}}shorthand"
			type="text"
			value="{{actionData.shorthand}}"
			placeholder="{{defaultActionShorthand}}"
			{{#if readonly}}disabled{{/if}}
		/>
	</div>
</header>
