<header class="nalfa-sheet-header">
	<div class="item-sheet-header__icon embedded-actions__icon">
		<img
			src="{{itemImage}}"
			data-edit="img"
			data-tooltip="{{actionDisplayName}}"
			height="64"
			width="64"
		/>
		<span class="embedded-actions__shorthand">{{actionDisplayShorthand}}</span>
	</div>

	<div class="item-sheet-header__name">
		<input
			name="system.{{actionPath}}name"
			type="text"
			value="{{actionData.name}}"
			placeholder="{{defaultActionName}}"
		/>
	</div>

	<div class="item-sheet-header__shorthand">
		<span class="field__label">Raccourci</span>
		<input
			name="system.{{actionPath}}shorthand"
			type="text"
			value="{{actionData.shorthand}}"
			placeholder="{{defaultActionShorthand}}"
		/>
	</div>
</header>
