<form class="currency {{cssClass}}" autocomplete="off">
  <div class="nalfa-sheet">
    {{!-- HEADER --}}
    {{> "systems/nalfa/templates/partials/item-sheet-header.hbs"}}
    {{!-- BODY --}}
    <div class="sheet-body">
      {{!-- TOTAL --}}
      {{#if sysData.all_valid}}
        <h3>
          Total: {{sysData.total_value}} {{sysData.currency_base}} ({{sysData.total_weight}}{{{weightIcon}}})
        </h3>
      {{else}}
        <p>
          La monnaie n&apos;est pas valide !
          {{#unless sysData.currency_base}}
            Manque notamment une base (dénomination valide avec une valeur monétaire de 1).
          {{/unless}}
        </p>
      {{/if}}
      {{!-- DENOMINATIONS --}}
      {{#if sysData.done}}
        <ul>
          {{#each sysData.denominations as |denomination index|}}
            <li>
              <input name="system.denominations.{{index}}.amount" type="number" value="{{denomination.amount}}" data-dtype="Number"/>
              {{denomination.short_name}}
              <br/>
              &nbsp;<i class="fa-solid fa-arrow-turn-down-right fa-sm"></i> valeur : {{denomination.value}} ({{denomination.weight}}{{{weightIcon}}})
            </li>
          {{/each}}
        </ul>
      {{else}}
        {{#if sysData.denominations}}
          <ul>
            {{#each sysData.denominations as |denomination index|}}
              {{!-- LOG HELPER --}}
              {{log ../sysData}}
              <li>
                <input name="system.denominations.{{index}}.amount" type="number" value="{{denomination.amount}}" data-dtype="Number"/>
                <input name="system.denominations.{{index}}.short_name" type="text" value="{{denomination.short_name}}"/>
                [&times;<input name="system.denominations.{{index}}.monetary_value" type="number" value="{{denomination.monetary_value}}" data-dtype="Number"/>]
                ({{{weightIcon}}}: &times;<input name="system.denominations.{{index}}.weight_coefficient" type="number" value="{{denomination.weight_coefficient}}" data-dtype="Number"/>)
                <br/>
                &nbsp;<i class="fa-solid fa-arrow-turn-down-right fa-sm"></i>
                {{#if denomination.valid}}
                  valeur : {{denomination.value}} ({{denomination.weight}}{{{weightIcon}}})
                {{else}}
                  Dénomination invalide !
                {{/if}}
              </li>
              {{#if (and @last ../sysData.all_valid ../sysData.add_denomination)}}
                <li>
                  <input name="system.denominations.{{plusOne @index}}.amount" type="number" data-dtype="Number"/>
                  <input name="system.denominations.{{plusOne @index}}.short_name" type="text"/>
                  [&times;<input name="system.denominations.{{plusOne @index}}.monetary_value" type="number" data-dtype="Number"/>]
                  ({{{weightIcon}}}: &times;<input name="system.denominations.{{plusOne @index}}.weight_coefficient" type="number" data-dtype="Number"/>)
                </li>
              {{/if}}
            {{/each}}
          </ul>
          {{!-- ADD MORE --}}
          <p>
            Ajouter une dénomination :
            <input name="system.add_denomination" type="checkbox" {{checked sysData.add_denomination}}/>
          </p>
          (Poids de base d&apos;une pièce : <input name="system.base_coin_weight" type="number" value="{{sysData.base_coin_weight}}" data-dtype="Number"/>{{{weightIcon}}})
        {{/if}}
      {{/if}}
      {{!-- VALIDER MONNAIE --}}
      {{#unless sysData.done}}
        <p>
          Valider la monnaie : 
          {{#if (and sysData.all_valid (not sysData.add_denomination))}}
            <input name="system.done" type="checkbox" {{checked sysData.done}}/>
          {{else}}
            <input name="system.done" type="checkbox" {{checked sysData.done}} disabled/>
          {{/if}}
        </p>
      {{/unless}}
    </div>
  </div>
</form>
