<div class="nalfa-chat-card nalfa-roll-card">
	<header class="nalfa-roll-header">
		<h3 class="nalfa-roll-title">
			<span class="nalfa-roll-label">{{titleLabel}}</span>
			{{#if titleName}}
				<span class="nalfa-roll-separator">·</span>
				<span class="nalfa-roll-name">{{titleName}}</span>
			{{/if}}
		</h3>
		<div class="nalfa-roll-tags">
			{{#if hasTarget}}
				{{#if isCrit}}
					<span class="nalfa-roll-tag nalfa-roll-tag--crit">Réussite Critique !</span>
				{{else if isFumble}}
					<span class="nalfa-roll-tag nalfa-roll-tag--fumble">Échec Critique !</span>
				{{else if isSuccess}}
					<span class="nalfa-roll-tag nalfa-roll-tag--success">Réussite</span>
				{{else}}
					<span class="nalfa-roll-tag nalfa-roll-tag--fail">Échec</span>
				{{/if}}
				{{#if versusName}}
					<span class="nalfa-roll-tag-context">contre {{versusName}}</span>
				{{/if}}
			{{else}}
				{{#if isCrit}}
					<span class="nalfa-roll-tag nalfa-roll-tag--crit">Réussite Critique !</span>
				{{/if}}
				{{#if isFumble}}
					<span class="nalfa-roll-tag nalfa-roll-tag--fumble">Échec Critique !</span>
				{{/if}}
			{{/if}}
		</div>
	</header>
	<div class="nalfa-roll-total">
		<span class="nalfa-roll-total-value">{{titleValue}}</span>
		{{#if rollDetail.showDiscardedInTotal}}
			<span class="nalfa-roll-total-discarded">{{rollDetail.discardedValue}}</span>
		{{/if}}
	</div>
	<div class="nalfa-roll-details">
		{{#if rollDetail}}
			<span class="nalfa-roll-formula">
				{{rollDetail.label}}
				{{#each rollDetail.results}}
					{{#if isDiscarded}}<s>[{{value}}]</s>{{else}}[{{value}}]{{/if}}
				{{/each}}
				{{#if rollDetail.separator}}
					· {{rollDetail.suffix}}
				{{else}}
					{{rollDetail.prefix}}
					{{#if rollDetail.comparison}}
						<span class="nalfa-roll-formula__comparison">{{rollDetail.comparison}}</span>
					{{/if}}
				{{/if}}
			</span>
		{{else}}
			<span class="nalfa-roll-formula">{{formulaText}}</span>
		{{/if}}
	</div>
</div>
