<form class="{{cssClass}}" autocomplete="off">
  <header class="nalfa-sheet-header">
    <img src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" height="64" width="64"/>
    <div class="actor-info">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <span class="level">
        dA : <input name="system.dA" type="number" value="{{sysData.dA}}" data-type="Number">
      </span>
    </div>
  </header>
</form>
