<div class="panel-section">
	<div class="field field--inline">
		<span class="field__label">Dé arme</span>
	</div>
	<div class="field field--inline">
		<span class="field__label">1 main</span>
		{{#if sysData.equippable.main_hand}}
			<input
				class="fixed"
				name="system.da.main_hand"
				type="text"
				value="{{sysData.da.main_hand}}"
				placeholder="Ex : d6m"
			/>
		{{else}}
			<span class="field__value">Non équipable</span>
		{{/if}}
	</div>
	<div class="field field--inline">
		<span class="field__label">2 mains</span>
		{{#if sysData.equippable.two_handed}}
			<input
				class="fixed"
				name="system.da.two_handed"
				type="text"
				value="{{sysData.da.two_handed}}"
				placeholder="Ex : d8m"
			/>
		{{else}}
			<span class="field__value">Non équipable</span>
		{{/if}}
	</div>
	<div class="field field--inline">
		<span class="field__label">2&times; 1 main</span>
		{{#if sysData.equippable.off_hand}}
			<input
				class="fixed"
				name="system.da.dual_wield"
				type="text"
				value="{{sysData.da.dual_wield}}"
				placeholder="Ex : d8m"
			/>
		{{else}}
			<span class="field__value">Non équipable</span>
		{{/if}}
	</div>
	<label class="field field--inline">
		<span class="field__label">Type de dégâts</span>
		<select name="system.damage_type" data-action="change-damage-type">
			{{#if (lookup config.fusion_damage_types sysData.damage_type)}}
				<option value="{{sysData.damage_type}}" data-special-damage-type="true" selected>
					{{lookup config.fusion_damage_types sysData.damage_type}}
				</option>
			{{/if}}
			{{selectOptions config.base_standard_damage_types selected=sysData.damage_type}}
			<option value="__special_damage_type__">Types spéciaux</option>
		</select>
	</label>
</div>

<div class="panel-section">
	<label class="field field--inline">
		<span class="field__label">Peut utiliser DEX</span>
		<input
			type="checkbox"
			name="system.weapon_attributes.can_use_dex"
			{{checked sysData.weapon_attributes.can_use_dex}}
		/>
	</label>
</div>

<div class="panel-section">
	<div class="field field--inline">
		<span class="field__label">Attributs d'arme</span>
		<button
			type="button"
			class="array-action-btn"
			data-action="add-array-entry"
			data-path="weapon_attributes.list"
			data-tooltip="Ajouter un attribut d'arme"
		>
			<i class="fa-light fa-square-plus"></i>
		</button>
	</div>
	{{#if sysData.weapon_attributes.list.length}}
		{{#each sysData.weapon_attributes.list as |attribute index|}}
			<div class="field field--inline">
				<input
					class="fixed"
					name="system.weapon_attributes.list.{{index}}"
					type="text"
					value="{{attribute}}"
				/>
				<button
					type="button"
					class="array-action-btn"
					data-action="remove-array-entry"
					data-path="weapon_attributes.list"
					data-index="{{index}}"
					data-tooltip="Supprimer cet attribut d'arme"
				>
					<i class="fa-light fa-square-minus"></i>
				</button>
			</div>
		{{/each}}
	{{else}}
		<p>Aucun attribut d'arme.</p>
	{{/if}}
</div>
