<form class="character {{cssClass}}" autocomplete="off">
  <div class="nalfa-sheet">
    {{> "systems/nalfa/templates/partials/item-sheet-header.hbs"}}


      <div class="level">
        <span>Niveau</span>
        <input name="level" type="number" value="" placeholder="Niv."/>
      </div>

      <div class="armor-score">
        <label for="armor_score.base">Base :</label>
        <input type="text" id="armor_score.base" name="system.attributes.armor_score.base" value="{{sysData.attributes.armor_score.base}}"/>
        <label for="armor_score.stat">Stat :</label>
        <select name="system.attributes.armor_score.stat">
          {{selectOptions config.stats_optional selected=sysData.attributes.armor_score.stat}}
        </select>
        <label for="armor_score.base">Base :</label>
        <span class="armor-score-value">{{sysData.attributes.armor_score.value}}</span>
      </div>
    <div class="description">
      <span>Description :</span>
      <div class="editor-box">
        {{editor enrichedHTML.description.value target="system.description.value" button=true collaborate=false}}
      </div>
  </div>
</form>

{{!-- 
"Class": {
  "description": {
    "value": "<p>html</p>"
  }
  "stat_ester": "str",
  "choices": {
    "bonus_skill_points": {
      "value": 0,
      "max": 8
    },
    "malus_skill_points": {
      "value": 0,
      "max": 5
    }
  },
  "attributes": {
    "actions": {
      "main": 1,
      "bonus": 1,
      "reaction": 1,
      "concentration": 1,
      "movement": 6
    },
  }
}
--}}