<header class="nalfa-sheet-header">
  <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>

  <div class="nalfa-sheet-header-info">
    <div class="sheet-secondary-info">
      <input class="fixed" name="system.race" type="text" value="{{sysData.race}}" placeholder="Race"/>
      <input class="fixed" name="system.class" type="text" value="{{sysData.class}}" placeholder="Classe"/>
    </div>
    <div class="sheet-primary-info">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/>
    </div>
  </div>

  <div class="level">
    <span>Niveau</span>
    <input name="system.attributes.level" type="number" value="{{sysData.attributes.level}}" placeholder="Niv."/>
  </div>
</header>