<div class="combat-overview">
	<div class="combat-overview__card">
		<div class="combat-overview__header">
			<div class="combat-overview__title">Santé</div>
			{{#if (eq sysData.ui.valueMode "base")}}
				{{#unless deathTick.isDead}}
					<select class="combat-overview__profile-select" name="system.profile">
						{{selectOptions config.profiles selected=sysData.profile}}
					</select>
				{{/unless}}
			{{/if}}
		</div>
		<div class="combat-overview__separator"></div>
		<div class="field combat-overview__hp">
			<span class="field__label">PV</span>
			<input
				name="system.attributes.hp.value"
				type="number"
				value="{{sysData.attributes.hp.value}}"
				data-dtype="Number"
			/>
			<span class="field__separator">/</span>
			<span class="field__total">{{sysData.attributes.hp.max}}</span>
			{{#if (eq sysData.ui.valueMode "base")}}
				<input
					class="combat-overview__hp-max-base"
					name="system.attributes.hp.base"
					type="number"
					value="{{sysData.attributes.hp.base}}"
					data-dtype="Number"
				/>
			{{/if}}
			{{#if isKO}}
				<span class="ko-indicator">
					{{#if deathTick.isDead}}Mort{{else}}KO{{/if}}
				</span>
			{{/if}}
		</div>
		<div class="combat-overview__line">
			{{#if isKO}}
				{{#if deathTick.isDead}}
					<div class="field field--inline combat-overview__entry combat-overview__entry--death-rip">
						<span class="combat-overview__value ko-indicator">RIP</span>
					</div>
				{{else}}
					<div class="field field--inline combat-overview__entry combat-overview__entry--death">
						<span class="combat-overview__death-main">
							<span class="field__label">Mort dans</span>
							<span class="field__total combat-overview__value">{{deathTick.turnsToDeath}}</span>
							<span class="field__meta">
								{{#if (eq deathTick.turnsToDeath 1)}}tour{{else}}tours{{/if}}
							</span>
						</span>
						<span class="combat-overview__rate combat-overview__death-rate">
							<span>(</span>
							<span>-{{deathTick.lossPerTurn}}</span>
							<span class="combat-overview__fraction">
								<span>PV</span>
								<span>tour</span>
							</span>
							<span>)</span>
						</span>
					</div>
				{{/if}}
			{{else}}
				<label class="field field--inline combat-overview__entry">
					<span class="field__label">Absorption</span>
					<input
						name="system.attributes.hp.abso"
						type="number"
						value="{{sysData.attributes.hp.abso}}"
						data-dtype="Number"
					/>
				</label>
			{{/if}}
		</div>
		{{#if (eq sysData.ui.valueMode "alt")}}
			<div class="combat-overview__line combat-overview__line--mode">
				<label class="field field--inline">
					<span class="field__label">PV alt</span>
					<input
						name="system.attributes.hp.alt"
						type="number"
						value="{{sysData.attributes.hp.alt}}"
						data-dtype="Number"
					/>
				</label>
			</div>
		{{/if}}
	</div>

	<div class="combat-overview__card">
		<div class="combat-overview__title">vs JdT</div>
		<div class="combat-overview__separator"></div>
		<div class="combat-overview__line">
			<div class="field field--inline combat-overview__stat">
				<span class="field__label">Défense</span>
				<span class="field__total combat-overview__value">{{sysData.attributes.defense.value}}</span>
				<input
					class="value-mode value-mode--base"
					name="system.attributes.defense.base"
					type="number"
					value="{{sysData.attributes.defense.base}}"
					data-dtype="Number"
				/>
				<input
					class="value-mode value-mode--alt"
					name="system.attributes.defense.alt"
					type="number"
					value="{{sysData.attributes.defense.alt}}"
					data-dtype="Number"
				/>
			</div>
		</div>
		<div class="combat-overview__line">
			<div class="field field--inline combat-overview__stat">
				<span class="field__label">Évasion</span>
				<span class="field__total combat-overview__value">{{sysData.attributes.evasion.value}}</span>
				<input
					class="value-mode value-mode--base"
					name="system.attributes.evasion.base"
					type="number"
					value="{{sysData.attributes.evasion.base}}"
					data-dtype="Number"
				/>
				<input
					class="value-mode value-mode--alt"
					name="system.attributes.evasion.alt"
					type="number"
					value="{{sysData.attributes.evasion.alt}}"
					data-dtype="Number"
				/>
			</div>
		</div>
	</div>

	<div class="combat-overview__card">
		<div class="combat-overview__title">Init &amp; P. Passive</div>
		<div class="combat-overview__separator"></div>
		<div class="combat-overview__line">
			<div class="field field--inline combat-overview__stat">
				<span class="field__label">Initiative</span>
				<span class="field__total combat-overview__value">{{sysData.attributes.initiative.value}}</span>
				{{#unless (eq sysData.ui.valueMode "base")}}
					<span class="field__meta">
						({{lookup config.stats sysData.attributes.initiative.stat}}
						x{{sysData.attributes.initiative.stat_coef}})
					</span>
				{{/unless}}
				<input
					class="value-mode value-mode--base"
					name="system.attributes.initiative.base"
					type="number"
					value="{{sysData.attributes.initiative.base}}"
					data-dtype="Number"
				/>
				<input
					class="value-mode value-mode--alt"
					name="system.attributes.initiative.alt"
					type="number"
					value="{{sysData.attributes.initiative.alt}}"
					data-dtype="Number"
				/>
			</div>
		</div>
		<div class="combat-overview__line">
			<div class="field field--inline combat-overview__stat">
				<span class="field__label combat-overview__label--stacked">Perception<br />passive</span>
				<span class="field__total combat-overview__value">{{sysData.attributes.passive_percep.value}}</span>
				{{#unless (eq sysData.ui.valueMode "base")}}
					<span class="field__meta">
						({{lookup config.stats sysData.attributes.passive_percep.stat}}
						+ {{sysData.attributes.passive_percep.base}})
					</span>
				{{/unless}}
				<input
					class="value-mode value-mode--base"
					name="system.attributes.passive_percep.base"
					type="number"
					value="{{sysData.attributes.passive_percep.base}}"
					data-dtype="Number"
				/>
				<input
					class="value-mode value-mode--alt"
					name="system.attributes.passive_percep.alt"
					type="number"
					value="{{sysData.attributes.passive_percep.alt}}"
					data-dtype="Number"
				/>
			</div>
		</div>
	</div>
</div>
