<div class="roll-stats__row">
  <div class="roll-stats__group roll-stats__group--physical">
    <div class="field roll-stats__item">
      <span class="field__label">Stat Physique</span>
      <span class="roll-stats__value color-{{sysData.roll_stats.physical.default_stat}}">
        {{sysData.roll_stats.physical.value}}
      </span>
    </div>
    <div class="field roll-stats__item roll-stats__item--aux">
      <div class="roll-stats__aux-row">
        <span class="field__label">Allonge</span>
        <span class="roll-stats__value roll-stats__value--compact">
          {{roundNumber sysData.attributes.reach.value 2}}
        </span>
        <span class="field__meta">m</span>
      </div>
      <div class="roll-stats__aux-row">
        <span class="field__label">dA</span>
        <span class="roll-stats__value roll-stats__value--compact">{{sysData.da.value}}</span>
      </div>
    </div>
  </div>
  <div class="roll-stats__separator" aria-hidden="true"></div>
  <div class="roll-stats__group roll-stats__group--incant">
    <div class="field roll-stats__item">
      <span class="field__label">Stat Incant</span>
      <span
        class="roll-stats__value {{#unless (eq sysData.roll_stats.incant.stat "none")}}color-{{sysData.roll_stats.incant.stat}}{{/unless}}"
      >
        {{sysData.roll_stats.incant.value}}
      </span>
    </div>
    <div class="field roll-stats__item">
      <span class="field__label">Portée</span>
      <span class="roll-stats__value roll-stats__value--text">
        &times;{{roundNumber sysData.attributes.range_coef.value 2}}
      </span>
    </div>
  </div>
</div>
